<!-- src/app/student-list/student-list.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Students</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addStudent()" color="primary">Add Student</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  @if(students.length > 0){
    @for(student of students; track student.studentNumber){
      <ion-item>
        <ion-label>
          <h2>{{ student.studentFirstName }} {{ student.studentLastName }}</h2>
          <p>{{ student.studentCollege }} - {{ student.studentProgram }} - Year {{ student.studentYear }}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="editStudent(student.studentNumber)" color="primary">Edit</ion-button>
          <ion-button (click)="viewStudent(student.studentNumber)" color="success">View</ion-button>
          <ion-button color="danger" (click)="deleteStudent(student.studentNumber)">Delete</ion-button>
        </ion-buttons>
      </ion-item>
    }
  } @else {
    <ion-item>
         <ion-label>
              The student list is empty.
         </ion-label>
    </ion-item>
  }
  </ion-list>
</ion-content>
