<!-- src/app/student-edit/student-edit.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Edit Student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="studentForm" (ngSubmit)="submitForm()">
    <input formControlName="studentNumber" type="hidden">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="studentFirstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="studentLastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">College</ion-label>
      <ion-select formControlName="studentCollege">
        @for(college of colleges; track college){
          @if(student?.studentCollege === college){
             <ion-select-option *ngFor="let college of colleges" [value]="college" selected>{{ college }}</ion-select-option>
          } @else {
             <ion-select-option *ngFor="let college of colleges" [value]="college">{{ college }}</ion-select-option>
          }
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Program</ion-label>
      <ion-select formControlName="studentProgram">
        @for(program of programs; track program){
          @if(student?.studentProgram === program){
             <ion-select-option *ngFor="let program of programs" [value]="program" selected>{{ program }}</ion-select-option>
          } @else {
             <ion-select-option *ngFor="let program of programs" [value]="program">{{ program }}</ion-select-option>
          }
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Year</ion-label>
      <ion-input type="number" formControlName="studentYear"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Save</ion-button>
    <ion-button expand="full" color="medium" (click)="cancel()">Cancel</ion-button>
  </form>
</ion-content>
