<!-- src/app/student-detail/student-detail.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Student Details</ion-title>
  </ion-toolbar>
</ion-header>

@if(student){
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Student Number:</ion-label>
      <ion-text>{{ student.studentNumber }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Name:</ion-label>
      <ion-text>{{ student.studentFirstName }} {{ student.studentLastName }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">College:</ion-label>
      <ion-text>{{ student.studentCollege.collegeFullName }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Program:</ion-label>
      <ion-text>{{ student.studentProgram.programFullName }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Year:</ion-label>
      <ion-text>{{ student.studentYear }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
} @else {
  <ion-content>
      <ion-label>No Student Information Available</ion-label>
  </ion-content>
}
